<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.optima.plugin.plugin2">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.qihoo360.plugin.name"
            android:value="plugin2" />
        <activity android:name=".Plugin2MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <receiver android:name=".broadcast.BroadcastTest">
            <intent-filter>
                <action android:name="com.optima.plugin.host.ACTION_BROADCAST_RECEIVER"/>
            </intent-filter>
        </receiver>
        <service android:name=".service.Plugin2ServiceTest"/>
        <provider
            android:authorities="com.optima.plugin.plugin2"
            android:name=".provider.Plugin2Provider"/>
        <activity android:name=".activity.ProviderTestActivity"/>
    </application>

</manifest>